<div class="register-bg">
    <div class="register-center">
        <p-card header="Registro de nuevo usuario" class="register-card">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid grid">
                    <div class="col-12 md:col-6">
                        <label for="username"> Usuario *</label>
                        <input pInputText id="username" formControlName="username"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="nombre"> Nombres *</label>
                        <input pInputText id="nombre" formControlName="nombre"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="paterno"> Paterno *</label>
                        <input pInputText id="paterno" formControlName="paterno"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="materno"> Materno *</label>
                        <input pInputText id="materno" formControlName="materno"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="password"> contraseña *</label>
                        <input pPassword id="password" type="password" formControlName="password" toggleMask="true"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="email"> email *</label>
                        <input pInputText id="email" formControlName="email"/>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="roles"> Roles </label>
                        <p-multiSelect
                            [options]="rolesDisponibles"
                            formControlName="roles"
                            placeholder="--Selecciones--">
                        </p-multiSelect>
                    </div>
                </div>
                <button pButton type="submit" label="Registrar" class="p-mt-3 w-full"></button>
            </form>
        </p-card>

    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>