<mat-nav-list>
    <a mat-list-item routerLink="/home">HOME</a>
 
    <a mat-list-item routerLink="/perfil">Perfil</a>

    <a mat-list-item routerLink="/adopcion">Adopcion</a>



  
<!-- <a mat-list-item routerLink="/login"><mat-icon>timeline</mat-icon>Login prueba</a> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>MASCOTAS</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="/crud-mascota/listar">Lista Mascotas</a>

            <a mat-list-item routerLink="/crud-mascota/crear">Registra Mascota</a>

        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>ADOPCIONES</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="/crud-adopcion/listar">Lista Adopciones</a>

            <a mat-list-item routerLink="/crud-adopcion/crear">Registra Adopciones</a>
        </mat-nav-list>
    </mat-expansion-panel>
    
</mat-nav-list>